@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

.body1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #000000;
}

.body2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    color: #000000;
    
}



.heading1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 74px;
/* identical to box height, or 137% */
color: #000000;
}

.heading2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
color: #000000;
}

.heading3 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 56px;
/* identical to box height, or 147% */
color: #000000;
}

.heading4 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 56px;
/* identical to box height, or 156% */
color: #000000;
}

.heading5 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
/* identical to box height, or 150% */
color: #000000;
}

.heading6 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */
color: #000000;
}


.label1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */
color: #000000;
}

.label2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */
color: #000000;
}


.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 30px;
 height: 92px;

/* Tint blue */

background: #1C1E53;
}

.navbar1 {
   width: 100%;
   height: 92px;
}

.links-container{ 
    display: flex;
     margin-right: 10%;
    
}
.links-container a {
    margin-right: 20px;
    text-decoration: none;
}

.links-container li {
    list-style: none;
}


.mainlogo {
   
}


p.home {
   
    color: white;
}

p.about {
  
    color: white;
}

p.features {
    
    color: white;
}

p.pricing {
    color: white;
}

p.faq {
    color: white;
}

p.blog {
    color: white;
}

p.contact {
    color: white;
}

.contact-button{
    height: 60px;
    width: 185px;
    border-radius: 41px;
    border: 2px solid #F4F6FC33;
    background-color: transparent;
    
}

.toggle-button {
    position: absolute;
    right: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .pasek {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 480px) {
    .toggle-button {
        display: flex;
        padding: 10px;
    }
    .links-container {
      display: none;
      width: 100%;
    } 
    .mainlogo
    {
        padding: 10px
    }

    .navbar {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .links-container  {
        width: 100%;
        flex-direction: column;
       

        
    }
    .links-container a {
        width: 100%;
        flex-direction: column;
        
    }

    .links-container.active {
        display: flex;
       
    }

    
    

}