@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

.body1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #000000;
}

.body2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    color: #000000;
    
}



.heading1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 74px;
/* identical to box height, or 137% */
color: #000000;
}

.heading2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
color: #000000;
}

.heading3 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 56px;
/* identical to box height, or 147% */
color: #000000;
}

.heading4 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 56px;
/* identical to box height, or 156% */
color: #000000;
}

.heading5 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
/* identical to box height, or 150% */
color: #000000;
}

.heading6 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */
color: #000000;
}


.label1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */
color: #000000;
}

.label2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */
color: #000000;
}


.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 30px;
 height: 92px;

/* Tint blue */

background: #1C1E53;
}

.navbar1 {
   width: 100%;
   height: 92px;
}

.links-container{ 
    display: flex;
     padding-right: 110px;
    
}
.links-container a {
    margin-right: 20px;
    text-decoration: none;
}

.links-container li {
    list-style: none;
}


.mainlogo {
    padding-left: 130px;
   
}


p.home {
   
    color: white;
}

p.about {
  
    color: white;
}

p.features {
    
    color: white;
}

p.pricing {
    color: white;
}

p.faq {
    color: white;
}

p.blog {
    color: white;
}

p.contact {
    color: white;
}

.contact-button{
    height: 60px;
    width: 185px;
    border-radius: 41px;
    border: 2px solid #F4F6FC33;
    background-color: transparent;
    
}

.toggle-button {
    position: absolute;
    right: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .pasek {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


    
    



.building {
display: flex;
width: 100%;
min-height: 668px;
/* Tint blue */
background: #1C1E53;
flex-wrap: wrap;


}



.container1 {
    
    display: flex;
    justify-content:left;
    flex-direction: column;
    padding-left: 160px;
    padding-top:94px;
    

 
}

h1.stellar {
    
  
    width: 582px;
    height: 222px;
    color: #FFFFFF;
    
   
    }

p.tekst {
   

   
width: 562px;
height: 56px;
    


color: #FFFFFF;
opacity: 0.7;
transform: translateY(-25px);
}

.hero{
    display: flex; 
    width: 638px;
    height: 361.12px;
    margin-left: auto;
    margin-right: 160px;
    margin-top: 150px;
    margin-bottom: 157.88px;

}

button.view {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 222px;
height: 64px;
border: 0px;

/* Yellow */

background: #FCD980;
border-radius: 40px
}

button.view:hover{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 222px;
height: 64px;
background: #FDE4A6;
border-radius: 40px;
}

p.ourwork{
    width: 126px;
height: 32px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */
color: #1B1C2A;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}


a.pricing1 {
    display: flex;
    width: 98px;
height: 28px;
margin-left: 45%;
margin-top: -10%;
text-decoration: none;
}

p.ceny{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* nie otagowalem label2 bo tutaj jest inny kolor */
    
    
    /* White */
    
    color: #FFFFFF;
}




.design{
    width: 100%;
    min-height: 1191px;
    display: flex;
    flex-direction: column;
    
    
}


.napisy{
    width: 100%;
display: flex;
flex-direction: column;
align-items: center;
  margin-left: auto;
  margin-right: auto;
 

}


.features1{
    width: 419px;
height: 28px;
color: #282938;
text-align: center;
margin-top: 128px;


}


.solves{
    width: 630px;
height: 192px;
color: #282938;
text-align: center;
margin-bottom: 47px;
margin-top: -4px;


}

.zalety{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.zalety2{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    display: flex;
    width: 405px;
height: 316px;


flex-direction: column;
background: #FFFFFF;
margin-right: 32px;
}

.card1{
    display: flex;
    width: 405px;
height: 316px;
background: #FFFFFF;
flex-direction: column;
margin-right: 32px;

}

.card2{
    display: flex;
    width: 405px;
height: 316px;
background: #FFFFFF;

flex-direction: column;


}

.card3{
    display: flex;
    width: 405px;
height: 316px;

background: #FFFFFF;

flex-direction: column;

margin-right: 32px;
margin-top: 24px;
}
.card4{
    display: flex;
    width: 405px;
height: 316px;

background: #FFFFFF;

flex-direction: column;

margin-right: 32px;
margin-top: 24px;
}

.card5{
    display: flex;
    width: 405px;
height: 316px;
background: #FFFFFF;
flex-direction: column;
margin-top: 24px;


}


.icon1{
    height: 28px;
    width: 32px;

    margin-top: 51px;
margin-left: 48px;
    
}

.card-uses{
    margin-top: 25px;
    margin-bottom:12px;
    margin-left: 48px;
    margin-right: auto;
    color: #282938;
}

.card-desc{
 margin-top: 0;
 margin-left: 0.35px;
 opacity: 0.7;
 margin-left: 48px;
 margin-right: auto;
 color: #282938;
}


.slider{
    display: flex;
    min-height: 506px;
    background: #EBEEF4;
    width: 100%;
}


.napisy1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 160px; 
    padding-top: 130px;
    
}

.clients{
    height: 112px;
    width: 327px;
    color: #282938;
    
    margin-top: 0;
    margin-bottom: 0;

}

.clients-tekst{
    width: 327px;
    height: 56px;
    color: #282938;
    opacity: 0.7;
    
}



@media (max-width: 1000px) {
    .toggle-button {
        display: flex;
        padding: 10px;
    }
    .links-container {
      display: none;
      width: 100%;
    } 
    .mainlogo
    {
        padding: 10px
    }

    .navbar {
        height: 92px;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 100%;
    }

    .links-container  {
        width: 100%;
      
        flex-direction: column;
        background: #1C1E53;
       

        
    }
    .links-container a {
        width: 100%;
        flex-direction: column;
        
    }

    .links-container.active {
        display: flex;
        position: relative;
      
           
    }

    .building {
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        
    }
    
      
    .building > * {
       
        
        width: 100%;
        height: auto;
        
    }

   .hero{
    margin-left: auto;
    margin-right: auto;
   }
   
    
    .container1 {
        flex-direction: column;
        width: 100%; /* Dodana reguła */
      
        padding-left: 0%;
      }
    

      h1.stellar ,p.tekst, button.view,button.view:hover{
        
        height: auto;
       width: 100%;
       
       
       
    }
    a.pricing1 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        
     
    
    }
    
    

      .container1 > * {
        flex-basis: 20%;
        height: 5%;
       
        padding-left: 0;
      }
        


      .solves{
        width: 100%;
        height: auto;
      }

      .napisy1{
        padding-left: 5%;
      }

      .clients, .clients-tekst {
        width: 100%;
        height: auto;
        
      }
}


    
    
    
   
