@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

.body1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #000000;
}

.body2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    color: #000000;
    
}



.heading1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 74px;
/* identical to box height, or 137% */
color: #000000;
}

.heading2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
color: #000000;
}

.heading3 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 56px;
/* identical to box height, or 147% */
color: #000000;
}

.heading4 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 56px;
/* identical to box height, or 156% */
color: #000000;
}

.heading5 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
/* identical to box height, or 150% */
color: #000000;
}

.heading6 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */
color: #000000;
}


.label1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */
color: #000000;
}

.label2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */
color: #000000;
}

iframe {
    
border: none;
}

.navbar {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Tint blue */

background: #1C1E53;
}

.navbar1 {
   width: 1600px;
   height: 92px;
}

.mainlogo {
    position: absolute;
    width: 122px;
    height: 24.71px;
    left: 160px;
    top: 33px;

}

.home {
    position: absolute;
    left: 45.88%;
    right: 51.12%;
    top: 34.66%;
    bottom: 32.83%;
    color: #FFFFFF;
}

.about {
    position: absolute;
    left: 50.88%;
    right: 44.62%;
    top: 34.83%;
    bottom: 32.66%;
    color: #BBBBCB;
}

.features {
    position: absolute;
    left: 57.38%;
    right: 38.25%;
    top: 34.83%;
    bottom: 32.66%;
    color: #BBBBCB;
}